.Appss{
  position: absolute;
  left: 7.5cm;
  width: 32cm;
  text-align: center;
 
}

.vr{
  position: absolute;
  left: 1.5cm;
  font-size: 20px;
  top: 40px;
  font-weight: 600;

}
.btn111{
  position: absolute;
  font-size: 16px;
  font-weight: 600;
  width: 140px;
  height: 50px;
  right: 2.5cm;
  top: 1cm;
  padding: 8px;
  background-color: rgba(94, 23, 235, 1);
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 14px;
  transition: transform 0.3s ease-in-out;
}
.btn111:hover {
  
  transform: scale(1.2);
}

.cardbox{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 90px;
  padding-left: 10px;
  padding-right: 10px;
}
.cx{

  background-color: #ffffff;
  width:28cm;
  border-radius: 10px;

  display: inline-block;
 margin: 10px 45px;
 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 25px 20px;
  transition: transform 0.3s ease-in-out;
}
.cx:hover {
  
  transform: scale(1.02);
}
.cx h5{
  font-size: 16px;
}
.cx11{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.btnse{
  height: 25px;
    border-radius: 10px;
    color: rgb(255, 255, 255);
    background-color:rgba(94, 23, 235, 1) ;
    transition: transform 0.3s ease-in-out;
   font-size: 14px;
   font-weight: 600;
    border: none;
    cursor: pointer;
    height: 40px;
    width:150px;
}
.btnse:hover{
  transform: scale(1.2);
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: #000;
}

th {
  background-color: #f5f1f8;
  font-size: 13px;
}

tr {
  transition: background-color 0.3s;
  border-bottom: 0.5px solid #bfbbbb;
  font-size: 13px;
}

tr:hover {
  background-color: #f7f5fb;
}
.btned{
  margin-left:8px;
  color: rgba(94, 23, 235, 1);
  background-color: rgba(236, 228, 253, 1);
  transition: background-color 0.3s;
  border: none;
  height: 30px;
  width: 80px;
  border-radius: 10px;
}
.btned:hover{
  color: rgb(255, 255, 255);
  background-color:rgba(94, 23, 235, 1) ;
}


h1 {
    margin: 1rem auto 4rem;
  }
  
  .image {
    width: 100%;
    height: 13em;
    object-fit: cover;
  }
  
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 370px;
    height: 35em;
    margin: auto 1rem;
    text-align: center;
    font-family: arial;
    background-color: rgb(213, 221, 241);
  }
  
  .Pname {
    color: grey;
    font-size: 22px;
  }
  
  .card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 70%;
    font-size: 18px;
    margin:3px;
    border-radius: 20px;
  }
  
  .card button:hover {
    opacity: 0.7;
  }
  


  .cr1{
  
    position: relative;
    top: 0.4scm;
    font-size: 25px;
    width: fit-content;
    margin-top: 20px;
    margin-left: 50%;
   
  }
  .ss{
    width: 40.5cm; 
   }

  .CAppss{
    position: relative;
    left: 8.2cm;
    top: 2.2cm;
    height: fit-content;
    width: 30cm;
    display: flex;
   flex-wrap: wrap;
   align-content: flex-start;
   justify-content: flex-start;
   padding-bottom: 60px;
   flex-direction: row;
  
  }  


  .sss{
    height: 3cm;
    background-color: #f1f1f1;
    width: fit-content;
   }
  
  .Ccr1{
    /* background-color: ; */
    position: absolute;
    font-size: 20px;
    left: 9cm;
    top: 1cm;
    font-weight: 600;

  }

  .Ccard {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.55);
    width: 300px;
    height: fit-content;
    margin: 10px 30px;
    text-align: center;
    font-family: 'Arial', sans-serif;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    padding: 10px;
    transition: transform 0.3s ease-in-out;
  }
  .Ccard:hover {
    transform: scale(1.05);
  }

  .ceee{
    position: relative;
    right: 70px;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 10px;
    margin-top: 10px;
    color: rgba(94, 23, 235, 1);
  }
  .ab{
    font-weight: 800;
    font-size:17px;
  }
  .sp{
    color: rgba(94, 23, 235, 1);
    font-size: 15px;
    font-weight: 600;
  }
.Cname2{
  font-size:14px ;
  font-weight: 500;
}
.ti{
  font-size: 12px;
}
.label22{
  position: relative;
  right: 67px;
}
.label21{
  position: relative;
  right: 60px;
}
.ca1{
  color:rgba(94, 23, 235, 1);
}
.ca2{
  color: rgba(94, 23, 235, 1);
  left: 17px;
  position: relative;
}
.vi{
  position: relative;
  left: 80px;
  color: rgba(94, 23, 235, 1);
  font-size: 13px;
  text-decoration: none;
  
}
.vi:hover{
  color: rgb(80, 11, 139);
  font-weight: 600;
  
}
  body.active-modal {
    overflow-y: hidden;
}


.modal, .overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}
.modal2, .overlay2 {
 
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}
.overlay2 {
  background: rgba(49,49,49,0.3);
}

.modal-content2 {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  background: #ffffff;
  padding: 14px 28px;
  max-width: 600px;
  min-width: 300px;
  border-radius: 15px;
  font-weight: 600;
  font-size: 13px;
  border: solid rgba(94, 23, 235, 0.6) 0.5px;

}
.btn-modal1{
  border-radius: 15px;
    background-color: rgba(94, 23, 235, 1);
    transition: background-color 0.3s;
    color: rgb(255, 255, 255);
    border: none;
    cursor: pointer;
    height: 38px;
  margin-left: 10cm;
    padding: 10px;
}
.btn-modal1:hover{
  background-color:rgba(141, 94, 235, 1);
}

.btn-modal{
  border-radius: 15px;
    background-color: rgba(94, 23, 235, 1);
    transition: background-color 0.3s;
    color: rgb(255, 255, 255);
    border: none;
    cursor: pointer;
    height: 38px;
    margin-left: 7px;
    padding: 10px;
}
.btn-modal:hover{
  background-color:rgba(141, 94, 235, 1);
}
.overlay {
    background: rgba(49,49,49,0.5);
}
.modal-content {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: #ffffff;
    padding: 14px 28px;
    max-width: 600px;
    min-width: 300px;
    border-radius: 15px;
}
.roomnaame{
 font-weight: 600;
  width: 150px;
  font-size: 15px;
  text-align: left;
  margin-top: px;
}
.i1{
  margin-top: 10px;
}
.close-btn {
    position: absolute;
    top: 11px;
    width: 60px;
    height: 40px;
    right: 27px;
    height: 25px;
    border-radius: 10px;
    background-color: rgba(94, 23, 235, 1);
    transition: background-color 0.3s;
    color: rgb(255, 255, 255);
    border: none;
    cursor: pointer;
}
.close-btn:hover{
  background-color:rgba(141, 94, 235, 1);
}
.submitbtn{
    height: 35px;
    width: 75px;
    width: 80px;
    border-radius: 10px;
    background-color: rgba(94, 23, 235, 1);
    transition: background-color 0.3s;
    color: rgb(255, 255, 255);
    border: none;
    cursor: pointer;
}
.submitbtn:hover{
  background-color:rgba(141, 94, 235, 1);
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
}


.att{
  position: absolute;
  top: 1cm;
  font-size: 20px;
  left: 9cm;
  font-weight: 600;
}

  .table-container{
    position: absolute;
    top: 1cm;
    right: 3cm;
    margin-left: 360px;
    margin-top: 50px;
    margin-right: 20px;
    border-radius: 10px;
    width: 28cm;
   
  }

  .searchbox{
    margin-bottom: 20px;
    border-radius: 10px;
  }

  .des{
    position: relative;
    font-size: 13px;
    top:2cm;
    width: 25cm;
    left: 8.8cm;
    border-radius: 8px;
    
  }

  .contactContainer {
   position: relative;
    background-color: #ffffff;
    padding-top: 15px;
    padding-bottom: 30px;
   padding-left: 15px;
   padding-right: 15px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  width: 24cm;
  left: 8.8cm;
    height: 12.2cm;
    top: 2.6cm;
    font-weight: 600;
    font-size: 14px;
   
}
.subat{
  color: rgb(255, 255, 255);
background-color:rgba(94, 23, 235, 1) ;
transition: transform 0.3s ease-in-out;
  border-radius: 10px;
  border: none;
cursor: pointer;
  height: 40px;
  width: 100px;
  font-size: 15px;
}
.subat:hover{
  transform: scale(1.1);
}

.contactContainer label {
    margin-bottom: 0px;
    color: #252323;
}

.contactContainer input[type="text"],
.contactContainer input[type="email"],
.contactContainer textarea {
    width: 100%;
    padding: 5px;
    margin-top: 2px;
    border: 1px solid #ada8a8;
    border-radius: 5px;
    box-sizing: border-box;
}

.contactContainer textarea {
    height: 80px;
}
.CA{
  position: relative;
  top: 14.5cm;
  left:9cm;
  font-size:19px;
  font-weight: 600;
}
.atendeecontainer{
position: absolute;
  height: fit-content;
  width: 19.1cm;
  left: 8.5cm;
  top:15.5cm;
  display: flex;
  flex-direction: column;
 
}
.attendee-card{
background-color: white;
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}
.attendee_page_card{
  background-color: #ffffff;
  width:18cm;
  height: fit-content;
  margin: 12px;
  padding: 11px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}
.rc1{
  display: flex;
  justify-content: space-around;
  margin: 10px;
  color: rgba(94, 23, 235, 1);
  font-size: 15px;
}
.r1 {
  font-weight: bold;
}

.session-name {
  font-weight: bold;
  
}

.custom-table1 {
  width: 100%;
  border-collapse: collapse;
  margin: 10px;
  
}

.table-header{
   background-color: #f5f1f8;
   width: 15cm;
}
.ee{
  width: 15cm;

}

.table-data {
  padding: 8px;
  border-bottom: 1px solid #ddd;
  transition: background-color 0.3s ease;


}



.profilee{
  
  position: absolute;
  top: 2cm;
  left:13cm;
  width: 22.2cm;
  height: fit-content;
  display: flex;
  padding: 20px;
}
.profile1{
  background-color: #ffffff;
  width: 10cm;
  height: 12cm;
  margin: 10px;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.RFIDuser{
  background-color: #ffffff;
  width: 10cm;
  height: 12cm;
  margin-top: 10px;
  margin-left: 40px;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}
.pr1{
  margin-top: 10px;
  font-weight: 600;
  color:rgba(94, 23, 235, 1) ;
  font-size: 17px;
}
.rw{
  font-weight: 600;
  margin-bottom: 20px;
  color:rgba(94, 23, 235, 1) ;
  font-size: 17px;
}
.name1{
  font-size: 15px;
  font-weight: 600;
}
.l11{
  font-weight: 600;
  font-size: 14px;
  
}
.profileContents{
  margin-top: 1px;
}
.mail1{
  margin-top: 1px;
}
.b1{
  font-weight: 600;
  display: inline-block;
}