.Appss{
  position: relative;
  left: 9.5cm;
  top: 1cm;
  width: 75%;
  text-align: center;
  
}
  h1 {
    margin: 1rem auto 4rem;
  }
  
  .image {
    width: 100%;
    height: 13em;
    object-fit: cover;
  }
  
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 370px;
    height: 35em;
    margin: auto 1rem;
    text-align: center;
    font-family: arial;
    background-color: rgb(213, 221, 241);
  }
  
  .Pname {
    color: grey;
    font-size: 22px;
  }
  
  .card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 70%;
    font-size: 18px;
    margin:3px;
    border-radius: 20px;
  }
  
  .card button:hover {
    opacity: 0.7;
  }
  


  .cr1{
    background-color: ;
    position: relative;
    top: 0.4scm;
    font-size: 25px;
    width: fit-content;
    margin-top: 20px;
    margin-left: 50%;
   
  }

  .CAppss{
    position: relative;
    left: 9.5cm;
    top: 2.3cm;
    width: 75%;
  }  
  .Ccr1{
    /* background-color: ; */
    position: relative;
    top: 0.5cm;
    font-size: 25px;
    width: fit-content;
    margin-top: 20px;
    margin-left: 50%;
    top: 1.5cm;

  }

  .Ccard {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 450px;
    height: 20rem;
    margin: 20px auto;
    text-align: center;
    font-family: 'Arial', sans-serif;
    background-color: rgb(138, 215, 239);
    border-radius: 10px;
    overflow: hidden;
    position: relative;

  }
  .Ccard h2{
    background-color: transparent;
    padding: 10px;
    width: 50%;
    margin-left: 22%;
    border-radius: 13px;
  }
  .Cimage {
    width: 70%;
    height: 10em;
    object-fit: cover;
  }
  .Cname {
    color: rgb(10, 9, 9);
    font-size: 18px;
  }
  .Cname p{
    /* background-color: ; */
    margin: 5px;
  }
  .Cname2 p{
    background-color: ;
    margin: 5px;
  }


  body.active-modal {
    overflow-y: hidden;
}

.btn-modal {
    padding: 10px 20px;
    display: block;
    margin: 10px auto 0;
    font-size: 18px;
    border-radius: 10px;
}

.modal, .overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}

.overlay {
    background: rgba(49,49,49,0.8);
}
.modal-content {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: #f1f1f1;
    padding: 14px 28px;
    border-radius: 3px;
    max-width: 600px;
    min-width: 300px;
}

.close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 7px;
}


label {
  display: block;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
}

button {
  padding: 10px;
  background-color: #3498db;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #2980b9;
}


.cardbox{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 10px;
}
.cx{
  /* top:2cm; */
  background-color: #cdf5f9;
  /* height: 9cm; */
  width:fit-content;
  border-radius: 10px;
  /* margin-left: 400px; */
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 5px;
  padding: 5px 5px;
}

  .table-container{
    margin-left: 360px;
    margin-top: 50px;
    margin-right: 20px;
    border-radius: 10px;
  }

  .searchbox{
    margin-bottom: 20px;
    border-radius: 10px;
  }

