// colors
$darkGreen: #5c8d89;

$lightGreen: #a7d7c5;
$veryLightBlue: #e9fbff;
$darkGrey: #575757;
$white: #ffffff;
$lightGrey: #f2f2f2;

// font family
$fontFamily: inter,sans-serif;
$lightFont: 500;
$heavyFont: 800;


