@import "./_variables";


body {
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    font-family: $fontFamily;
    background-color: $veryLightBlue;
    text-transform: capitalize;
}


.sidebar {
    background-color: $white;
    position: absolute;
    top: 20px;
    left: 20px;
    padding-top: 5px;
    padding-left: 7px;
    width: 16rem;
    height: 94vh;
    transition: 0.5s all;
    border-radius: 25px;
    box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.25);
    

    .logoContainer {
      
       height: 70px;
       border-radius: 20px;
       margin-top: 5px;
       width: 85%;
    }
    .eventflowicon{
        height: 65px;
    }


    .profileContainer {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 1rem 0 0 0;
      
        
        img {
            width: auto;
            height: 3rem;
        }

        .profileContents {
            padding: 0 0 0 1rem;

            p.name {
                padding: 0;
                margin: 0;
                font-size: 16px;
                color: $darkGrey;
                text-transform: capitalize;
                font-weight: $heavyFont;
            }

            p {
                padding: 0;
                margin: 0;
                font-size: 13px;
                color: $darkGrey;
                text-transform: lowercase;
            }
        }
    }

    .contentsContainer {
        margin: 2rem 0 0 0;
        width: 90%;

        ul {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            flex-direction: column;
            list-style: none;
            padding: 0;
            margin: 0;
         
            li {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                flex-direction: row;
                margin: 6px 0;
                padding: 1px 0;
                width: 100%;
                border-radius: 1rem;
                cursor: pointer;

                img {
                    padding: 0 1rem 0 0.5rem;
                }

                a {
                    text-decoration: none;
                    color: $darkGrey;
                    font-size: 16px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin: 0 0 0 0.5rem;
                }
            }

            li.active {
              //  background-color: $veryLightBlue;

                a {
                    color: rgb(14, 137, 231);
                }
                .sidebaricons{
                    color: rgb(14, 137, 231);
                }
            }

            li:hover {
                background-color: $lightGrey;
                transition: 0.25s;
            }
        }
    }
}

.mainT1{
    margin-top: 5px;
    font-size: 19px;
    font-weight: 500;
    margin-bottom: 20px;
    color: rgb(38, 66, 189);
}
.mainT2{
    margin-top: 17px;
    font-size: 19px;
    font-weight: 500;
    margin-bottom: 20px;
    color: rgb(38, 66, 189);
}

.sidebaricons{
    height: 25px;
    width: 25px;
    margin-right: 10px;
    margin-left: 4px;
    color: $darkGrey;
    
}