.text-custom {
   text-transform: capitalize !important;
}

.txt-h2 {
   font-size: 22px;
   font-weight: 600;
   margin-top: 15px;
   margin-bottom: 15px;
   padding: 0%;
   text-align: center;
}

* {
   box-sizing: border-box;
   font-family: "Poppins", sans-serif;
}

.txt-body{
   font-size: 13px;
   font-weight: 300;
   margin: 0%;
   margin-bottom: 4px;
   padding: 0%;
   text-align: center;
 }

 .txt-h4{
   font-size: 17.5px;
   font-weight: 600;
   margin-top: 15px;
   margin-bottom: 15px;
   padding: 0%;
    text-align: center;
    color:rgb(124, 71, 230)
 }
 .horizontal-line {
  
  border: 0.1px solid #9d6dd0; /* You can adjust the border color */
  margin: 10px 0; /* Adjust margin as needed */
}
.g1{
  line-height: 1.1;

}
.txt-body1{
  
 margin: 8px;
  font-size: 14px;
  text-align: center;
  line-height: 1.2;
}
.txt-body2{
  font-size: 14px;
  text-align: center;
  font-weight: 600;
  color:rgb(64, 14, 163) ;
}
.txt-body3{
  font-size: 15px;
  text-align: center;
 ;
}
 .analytic-box{
   height: 90%;
   width: 100%;
   background-color:rgb(255, 255, 255);
   padding: 20px;
   padding-top: 5px;
   margin-bottom: 20px;
   border: 2px solid #E8E8E8;
   border-radius: 10px;

 }

 .background{
   background-color: rgb(240, 237, 246);
 }
 .cr1{
 
  width: 24.7cm; 

}

.sec2{
  position: absolute;
  top: 9.5cm;
  height: fit-content;
  
}
.bold-text {
  font-weight: bold;
}