  .social-links {
    margin-top: 10px; 
  }
  
  .linkedin-link {
    color: #0077b5; 
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    margin-top: 5px;
  }

  


 

  