.team-member .showed-content img {
    width: 216px;
    height: 184.19; 
  }
  
  .social-links {
    margin-top: 10px; 
  }
  
  .linkedin-link {
    color: #0077b5; 
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    margin-top: 5px;
  }